

//--------------------------------------------------------------
// Double Lists
//--------------------------------------------------------------

@include media-breakpoint-up(md) {

    ul {

        &.two-col-list {
            clear: both;
            font-size: 0.85em;

            li {
                width: 50%;
                float: left;
                padding-right: 40px;
            }
        }
    }

} /* media-breakpoint-up(md) */

//--------------------------------------------------------------
// Blockquote
//--------------------------------------------------------------

blockquote {

    font-size: 0.9em;
    line-height: 1.5em;
    font-style: italic;
    margin: 0;
    margin-right: 1em;
    font-style: italic;
    padding: .5em 0px .5em 15px;
    border-left: 2px solid $secondary;
    line-height:1.6;
    position: relative;
/*    background: $light-bkg;*/

}

@include media-breakpoint-up(sm) {

    blockquote {

        border-left: 8px solid $secondary;
        padding: 1.2em 30px 1.2em 75px;
        margin-right: 1em;

    }

    blockquote::before{

      font-family: $headings-font-family;
      content: "\201C";
      color: $secondary;
      font-size:4em;
      position: absolute;
      left: 10px;
      top:-10px;

    }

    blockquote::after{
      content: '';
    }

} /* media-breakpoint-up(sm) */