
@mixin background() {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin padded-box($width, $height) {
    height: 0;
    width: 100%;
    padding-top: $height / $width * 100%; 
}

@mixin grow() {

    transition: transform 0.3s ease-in-out;

    &:hover {

        transform: scale(0.96);

    }
}