.fa {
	font-size: 20px;	
}
.font-awesome-psuedo {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
    position: relative;
    top: 2px;
}


