$bootstrap-sass-asset-helper: false !default;

//--------------------------------------------------------------
// MEDIA SIZES
//--------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1350px,
  xl: 1660px,
  xxl: 1800px
);

$container-max-widths: (
/*    sm: 720px,
    md: 960px,
    lg: 1140px,*/
    xl: 1580px
);

//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$primary:       #F43448;
$secondary:     #A882CA;
$tertiary:     #14D7DE;

$body-bg:       #fff;

//--------------------------------------------------------------
// TYPE VARIABLES
//--------------------------------------------------------------

/*$font-size-base: 1.5rem;
*/
$body-color:    #454545;
$light-bkg:     #ededed;

$font-family-sans-serif:            'Quattrocento Sans', sans-serif;

/*$headings-font-family:              'Amatic SC', cursive;*/
$headings-font-family:              'sf_cartoonist_handregular', cursive;
/*$headings-font-family:              "Comic Sans MS", cursive, sans-serif;*/
$headings-font-weight:              400;
$headings-color:                    $primary;


$sub-headings-font-family:          'Cabin Sketch', cursive;
$sub-headings-font-weight:          700;
$sub-headings-color:                $secondary;

$lead-font-family:        'Quattrocento', serif;
$lead-font-weight:        300;
$lead-color:              #000;
$lead-size:               1.3em;