.stats {

    background-color: $primary;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 80px 40px;

    .counter {

        font-size: 1.15rem;
        padding: 0 30px;

        i {
            font-size: 3rem;
            position: relative;
            top: -5px;
            margin-left: 10px;
        }
    }

    .data {
        font-size: 5rem;
    }


    @include media-breakpoint-up(xl) {
    
        .counter {

            font-size: 1.3rem;

        }
        
    
    } /* media-breakpoint-up(xl) */
    
}