.stats {

    background-color: $primary;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 80px 40px;

    .counter {

        padding: 0 30px;

        i {
            font-size: 3rem;
            position: relative;
            top: -5px;
            margin-left: 10px;
        }
    }

    .data {
        font-size: 5rem;
    }
}