.testimonials {

    margin-top: 45px;

    img {

        max-width: 100%;

    }

    blockquote {

        img {

            display: none;

        }

    }

    @include media-breakpoint-up(sm) {


    } /* media-breakpoint-up(sm) */

    @include media-breakpoint-up(lg) {

        margin-top: 120px;

        blockquote {

            p:first-of-type {
             
                float: left;   
                padding-right: 240px;
                min-height: 200px;

            }

            img {

                display: block;
                float: right;
                margin: 0;
                margin-left: -291px;
            
            }

        }

    } /* media-breakpoint-up(lg) */

} /* .testimonials */

