//--------------------------------------------------------------
// Navbar
//--------------------------------------------------------------

#global-navbar {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    z-index: 999;

    background-color: $secondary;

    nav {
        display: block;
        text-align: center;
        color: #fff;

        height: 100%;
        width: 100%;
        padding: 30px;

        img {
            width: 100%;
            max-width: 200px;
            
        }
        h1 {
            color: #fff;
            font-size: 3.1rem;
            margin-bottom: 0;
        }
        h2 {
            color: #fff;
            font-size: 1.4rem;
            line-height: 1em;
            text-transform: uppercase;

            span {
                font-size: 1.4em;
            }
        }
        hr {
            width: 60%;
            margin: 10px auto 20px;
            border-color: darken($secondary, 5%)
        }

        a {
            color: #fff;
        }

        a.donate {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px;
            background-color: darken($secondary, 5%);
        }
    }


    @media (max-width: 991px) {
        
        display: none;

    } /* max-width: 991px */


    @include media-breakpoint-up(lg) {

        width: 300px;

        nav {

            h1 {
                font-size: 4.1rem;
            }
        }
    } /* media-breakpoint-up(lg) */
}