.page-template-template-home {

    .section-title {
        @include font-lead();
        font-size: 2.8rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .section-sub-title {
        @include font-body();
        font-size: 1.05rem;
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        text-align: center;
    }
    hr.section-title {

        border-color: $primary;
        border-width: 2px;
        width: 200px;
    }

    #main-footer {

        margin-top: -80px;

    }

    @include media-breakpoint-up(md) {

        .section-title {
            font-size: 4.5rem;
        }
        .section-sub-title {
            font-size: 1.2rem;
        }

    } /* media-breakpoint-up(sm) */

} /* .page-template-template-home */