.page-template-template-home {

    .section-title {
        @include font-lead();
        color: #fff;
        font-size: 2.8rem;
        margin-bottom: 20px;
        text-align: center;
    }

/*    .section-sub-title {
        @include font-body();
        font-size: 1.05rem;
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        text-align: center;
    }
    hr.section-title {
        border-color: $primary;
        border-width: 2px;
        width: 200px;
    }*/
    .home-hero {
        margin-top: 30px;
    }

    #main-footer {
        margin-top: -40px;
    }

    @include media-breakpoint-up(md) {

        #wrapper {
            padding: 30px 15px 0px;
            margin-left: 240px;
        }

        #main-footer {
            margin-top: -80px;
        }

    } /* media-breakpoint-up(sm) */

    @include media-breakpoint-up(lg) {

        .section-title {
            font-size: 4rem;
        }

    } /* media-breakpoint-up(lg) */


    @include media-breakpoint-up(xl) {

        #wrapper {

            padding: 30px 45px 0px;
            margin-left: 300px;

        }

    } /* media-breakpoint-up(xl) */

} /* .page-template-template-home */